@font-face {
    font-family: ultraLuxe;
    src: url(../fonts/Lobster.otf);
}
body {
    background-image: url("../images/design/felt.jpg");
    font-family: ultraLuxe;
    color: white;
    font-weight: 20px;
    text-align: center;
}
#playingArea {
    height: auto;
    width: 75%;
    white-space: normal;
    overflow: hidden;
}
img {
    height: 30%;
    width: auto;
}
h1 {
    font-size: 80px;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: 5px;
}
h2 {
    font-size: 40px;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: 5px;
    margin-top: 5px;
}
.ui-dialog .ui-dialog-title {
    text-align: center;
    width: 100%;
}
#play, #bet, #hit, #stay, #doubleDown {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #ffffff;
    text-shadow: none;
    border: none;
    height: 32px;
    line-height: 32px;
    padding: 0px 25.6px;
    font-weight: 300;
    font-size: 14px;
    font-family: ultraLuxe;
    margin: 0;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background: #00B233;
    margin: 5px;
}